@import '../../styles/variables.scss';

.webinarsPage {
  .favorTitle {
    padding: 23.6rem 4.4% 5.6rem;
    text-align: center;
    font-size: 2.8rem;
    font-weight: $fw-Medium;
  }
  h3 {
    font-size: 2.8rem;
    text-align: center;
  }
}
